:root {
  --main-color: #6a2d91;
  --orange: #f89829;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

h1, h2 {
  /* font-family: 'Fredoka One', cursive;
  font-weight: 400; */
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

button {
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 5px;
}

button:hover{
  background-color: plum;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #1fb25a;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: var(--orange);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

@media (min-width: 360px) and (max-width: 768px){

.nav {
  width: 106%;
}
  
.mobile {
  text-align: center;
  padding: 20px;
}

.mobile>h2 {
  text-align: left;
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.route-link {
  width: 230px;
  height: 50px;
}

button {
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: 5px;
}

.team-card {
  border: #444;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  padding: 10px;
  margin: 30px 15px;
}

}