.nav-title {
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    color: #f2f2f2;
    /* padding-left: 10px; */
    font-family: 'Fredoka One', cursive;
    margin: auto;
    text-align: center
}

.nav {
  overflow: hidden;
  background-color: #6a2d91;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #6a2d91;
  text-align: center;
  padding: 40px 15px 0px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  margin: 0px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  color: #f89829;
  background-color: #6a2d91;
}

.active {
  color: #f89829;
}

.nav-right {
  margin: auto;
  width: 90%;
}