.nav-title {
    font-size: 36px;
    font-weight: 400;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    font-family: 'Fredoka One', cursive;
}

.nav {
  overflow: hidden;
  background-color: var(--main-color);
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: var(--main-color);
  text-align: center;
  padding: 40px 15px 0px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  margin: 0px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  color: var(--orange);
  background-color: var(--main-color);
}

.active {
  color: var(--orange);
}

.nav-right {
  float: right;
}